{# src/Bdx/TutoratBundle/Resources/views/RDV/new.html.twig #}


{% extends 'BdxTutoratBundle::layout.html.twig' %}


{% block content %}
<h1>Création d'un RDV</h1>

<form action="{{ path('rdv_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Créer</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('rdv') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
