::-webkit-validation-bubble-message {
	color: #eee;
	background: #000;
	border-color: #444;
	-webkit-box-shadow: 4px 4px 4px rgba(100,100,100,0.5);
}

::-webkit-validation-bubble-message:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background: url(http://trac.webkit.org/export/90202/trunk/Source/WebCore/inspector/front-end/Images/errorMediumIcon.png)
}

::-webkit-validation-bubble-arrow {
	background: #000;
	border-color: #444;
	-webkit-box-shadow: 0 0 0 0;
}
