{# src/Bdx/TutoratBundle/Resources/views/Tutor/new.html.twig #}


{% extends 'BdxTutoratBundle::layout.html.twig' %}


{% block content %}
<h1>Tutor creation</h1>

<form action="{{ path('tutor_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tutor') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
